@model ChungSinDrug.Models.icdtTest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>icdtTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_DatePicker_StartOfDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_DatePicker_StartOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_DatePicker_EndOfDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_DatePicker_EndOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_DateDropDownList_StartOfDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_DateDropDownList_StartOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_DateDropDownList_EndOfDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_DateDropDownList_EndOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_DropDownList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_DropDownList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_CKEditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_CKEditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_Checkbox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_Checkbox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_CreatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_CreatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_CreatorUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_CreatorUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_UpdaterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_UpdaterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_UpdaterUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_UpdaterUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icdtTest_DelLock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icdtTest_DelLock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.icdtTest_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
