<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <!--引用icdt plugins css-->
    @Styles.Render("~/icdtFramework/plugins/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--引用icdt plugins js-->
    @Scripts.Render("~/icdtFramework/plugins/js")

    @RenderSection("header", required: false)
</head>
<body>

    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
