@model ChungSinDrug.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.News_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_CoverImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_CoverImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_IsPublish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_IsPublish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_IsTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_IsTop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_CreatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_CreatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_CreatorUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_CreatorUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_UpdaterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_UpdaterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_UpdaterUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_UpdaterUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_DelLock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_DelLock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.News_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
